<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--	<properties resource="db.properties"/>-->
<!--	-->
<!--	<typeAliases>-->
<!--		&lt;!&ndash; <typeAlias type="com.bjpowernode.mybatis.domain.Student" alias="student"/> &ndash;&gt;-->
<!--		<package name="com.bjpowernode.mybatis.domain"/>-->
<!--	</typeAliases>-->
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test/" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
<!--		&lt;!&ndash; <mapper resource="com/bjpowernode/mybatis/dao/StudentDao.xml" /> &ndash;&gt;-->
		<mapper resource="com/longying/mapper/StudentMapper.xml" />
<!--		<package name="com.bjpowernode.mybatis.dao"/>-->
	</mappers>
</configuration>